<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DndSheet.Properties.Settings.myDbConnectionString"
            connectionString="Data Source=LAPTOP-QLGDGP3P\SQLEXPRESS01;Initial Catalog=myDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>